
  <p>
    <% if(!userCookie) { %>
      Hello Guest, <a href= "/register"><button>Register</button></a> first or <a href="/login"><button>Login</button></a>
      
    
    <% } else { %>

    <form method="POST" action="/logout">
      <p>Welcome <%= users[userCookie].email %> <input type="submit" value="logout"></p>
    </form>
    <% }; %>
  </p>



