
  <p>
    <% if(!userCookie) { %>
      Hello Guest, <a href= "/register">register</a> first to use the website
    
    <% } else { %>
      Welcome <%=users[userCookie].email%>
    <form method="POST" action="/logout">
      <input type="submit" value="logout">
    </form>
    <% }; %>
  </p>



